@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

html {
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#arenaTab {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  padding-top: 6vh;
  margin: 0 auto;
  z-index: 1;
}

.image {
  width: 15vw;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
}

.animation {
  animation: rotate 3s;
  background-image: url('loading.svg');
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg)}
}

#settings {
  width: 85vw;
  padding-top: 6vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#settings > * {
  margin: 3px 0;
}

#currentChannel {
  padding: 3px;
  text-transform: lowercase;
  min-width: 260px;
}

#input {
  font-size: 12px;
  font-family: 'IBM Plex Mono', sans-serif;
  border: none;
  border-bottom: 1px solid;
  padding: 3px;
  min-width: 260px;
}

input:focus {
  outline: none !important;
}

#warning {
  opacity: 0;
  font-size: 12px;
  text-transform: none;
  margin-left: 10px;
  color: #00ffb2;
}

label {
  display: inline-block;
  width: 140px;
}

label:hover {
  color: #00ffb2;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
  font-size: 12px;
  text-transform: lowercase;
}

#toggle {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
}

#toggle:hover {
  cursor: pointer;
  color: #00ffb2;
}

.credits {
  padding: 5px 0;
  font-size: 10px;
}
