body {
  font-size: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  margin: 8vh auto;
}

.image {
  width: 15vw;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
}

#settings {
  width: 85vw;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#settings > * {
  margin: 3px 0;
}

#input {
  font-size: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
}

.credits > a {
  color: inherit;
}
